@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
  }
  h2 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
  }
  h3 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
  }
  p {
    font-family: "Poppins", san-serif;
    font-optical-sizing: auto;
  }
}
